# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  batch: true
  branches:
    include:
    - master

    exclude:
    - gh-pages

pool:
  vmImage: "windows-latest"

steps:
      - task: NodeTool@0
        inputs:
            versionSpec: '12.x'
        continueOnError: false
        displayName: 'Install Node.js'
    
      - script: |
            npm install -g @angular/cli
            npm install
        continueOnError: false
        displayName: 'Install Angular'

      - script: |
            npm install -g @angular-devkit/build-angular
            npm install
        continueOnError: false
        displayName: 'Install Angular Devkit'
    
      - script: |
            npm audit --audit-level=moderate --registry=https://registry.npmjs.org/
        continueOnError: false
        displayName: 'Audit dependency vulnerabilities'
    
      - script: |
            npm run lint
        continueOnError: false
        displayName: 'Verify code standards with lint'
    
      - task: PublishBuildArtifacts@1
        inputs:
            PathtoPublish: 'dist/my-portfolio'
            ArtifactName: 'my-portfolio'
            publishLocation: 'Container'
        displayName: 'Publish Artifacts'