# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  batch: true
  branches:
    include:
    - master

    exclude:
    - gh-pages

pool:
  vmImage: "windows-latest"

steps:
      - task: NodeTool@0
        inputs:
            versionSpec: '12.x'
        continueOnError: false
        displayName: 'Install Node.js'
    
      - script: |
            npm install -g @angular/cli
            npm install -g @angular-devkit/build-angular
            npm install
        continueOnError: false
        displayName: 'Install Angular'

      - script:
            npm install -g angular-cli-ghpages
            npm install
        continueOnError: false
        displayName: 'Install angular-cli-ghpages'
    
      - script: |
            npm audit --audit-level=moderate --registry=https://registry.npmjs.org/
        continueOnError: false
        displayName: 'Audit dependency vulnerabilities'
    
      - script: |
            npm run lint
        continueOnError: false
        displayName: 'Verify code standards with lint'

      - script:
            npm run deploy --buildHref='https://charleswrepo.github.io/portfolio'
        continueOnError: false
        displayName: 'Deploy to GitHub Pages'
    
      - task: PublishBuildArtifacts@1
        inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)'
            ArtifactName: 'My Portfolio'